<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <header>
        <div>
            <h1><%= htmlWebpackPlugin.options.title %></h1>
        </div>
        <div class="text">
            Log in !!! / Sign Up
        </div>
    </header>
    <main>
        <div class="main-container">
            <div id="left-part"></div>
            <div id="right-part"><p>Trekago</p></div>
        </div>
    </main>
</body>
</html>